.container{
    width: 960px;
    height: 300px;
    margin: 0 auto;
}
.rightWrap{
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: green;
}
.contentWrap{
    float: left;
    width: 100%;
    position: relative;
    right: 320px;/*此值等于rightSidebar的宽度*/
    background: orange;
}
.leftWrap{
    float:left;
    width: 100%;
    position: relative;
    right: 420px;/*此值等于Content的宽度*/
    background: lime;
}
#left{
    float: left;
    width: 220px;
    overflow: hidden;
    position: relative;
    left: 740px;
}
#content{
    float: left;
    width: 420px;
    overflow: hidden;
    position:relative;
    left: 740px;
}
#right{
    float: left;
    overflow: hidden;
    width: 320px;
    background: #333;
    position: relative;
    left: 740px;
}