#content{
    overflow:hidden;
    /*通过overflow属性实现了包裹浮动元素；*/
    background-color: #e4e703;
}
#content::after{
    content: " ";
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
/*自己添加的；多余！！！*/
}
.left{
    width:200px;
    margin-bottom:-3000px;
    padding-bottom:3000px;
    background:#cad5eb;
    float:left;
}
.right{
    width:400px;
    margin-bottom:-3000px;
    padding-bottom:3000px;
    background:#f0f3f9;
    float:right;
}
.center{
    margin:0 410px 0 210px;
    background:#ffe6b8;
    height:600px;
}