body{
    background-color:#eee;
    border:#999 solid 1px;
    margin:20px;
}
.lefter {
    position:absolute;
    margin:20px 20px;
    width:200px;
    background-color:#FFF;
}
.lefter img{
    width:80px;
    height:80px;
    padding:20px 20px;
    float:left;
}
.lefter p{
    float:left;
    /*浮动元素不超过前一个浮动元素的上限*/
}
.section {
    background:#FFF;
    margin:0 160px 0 240px;
}
.section h4{
    padding:20px 20px 20px 20px;
}
.section p{
    padding:0 20px;
}
.righter {
    position: absolute;
    top:40px;
    right:40px;
    width:120px;
    background-color:#fff;
}

.photo1 {
    width:80px;
    height:80px;
    margin:20px 20px 0 20px;
}
.photo2{
    width:80px;
    height:80px;
    margin:20px 20px 0 20px;
}
.photo3{
    width:80px;
    height:80px;
    margin:20px 20px 0 20px;
}
.photo4{
    width:80px;
    height:80px;
    margin:20px 20px 20px 20px;
}
