/* 三列中间自适应布局 */
.g-bd5{
    margin:0 0 10px;
    text-align: center;
}
.g-sd51,.g-sd52{
    position:relative;
    float:left;
    width:230px;
    margin:0 -230px 0 0;
    background-color: #ff1370;
}
.g-sd52{
    float:right;
    width:190px;
    margin:0 0 0 -190px;
}
.g-mn5{
    float:left;
    width:100%;
    background: #fffd0a;
}
.g-mn5c{
    margin:0 200px 0 240px;
}