#main-wrap {
    float: left;
    width: 100%;
}
.sub {
    float: left;
    width: 190px;
    margin-left: -100%;
    /*非功能样式*/
    background-color: #dd045e;
}
.extra {
    float: left;
    width: 230px;
    margin-left: -230px;
    /*非功能样式*/
    background-color: #3cffdd;
}
#main {
    margin: 0 240px 0 200px;
    min-width: 300px;
    /*非功能样式*/
    background-color: #e4e703;
}