div{
    width: 600px;
    padding: 0;
    border: 1px solid gray;
    margin: 10px auto;
    text-align: left;
    font-size: 10px;
}
p.news{
    text-indent: 2em;
}
.strongColor{
    color: red;
}

body{
    text-align: center;
}


div.inputChoice{
    width: 70px;
    color: blue;
    border: 1px solid blue;
    visibility: hidden;
}
.inputChoice p{
    margin: 5px auto;
}